<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Comments </title>
    <link rel="stylesheet" href="/style.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>

  <body>
    <a class='link' href="/recipes/<%=params[:recipe_id]%>">Go Back</a>

    <form action='/recipes/<%=params[:recipe_id]%>/comments' method='post'>
      <textarea id = 'textarea' name = 'text' rows = '5' cols = '100'>
      </textarea>
    <br>
      <input class= 'button' type = 'submit'/>
    </br>
  </form>

  <p>All comments:</p>
  <ul>
    <% @all_comments.each do |comment|%>
        <li><%= comment['content']%> (<%= comment['time']%>)</li>
    <%end%>
  </ul>



  </body>
</html>
