<!DOCTYPE html>
<html lang="en">
  <head>
    <title> recipe search </title>
    <link rel="stylesheet" href="/style.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>

  </head>

  <body>
    <a class= 'link' href="/recipes">Menu</a>
    <h1>Recipe Search</h1>
      <ul id = 'search'>
          <%@results.each do |result|%>
          <a id='search_result' href="/recipes/<%= result['id'] %>">
              <li><%=result['name']%></li>
          </a>
          <%end%>
      </ul>
  </body>
</html>
