body{
  background-color: tomato;
  color:lightyellow;
}


#container li{
  color:lightyellow;
  background-color: tomato;
  padding-top: 2px;
  padding-bottom: 1px;
  list-style-type: none;
  margin-left: -40px;
}

#container li:hover{
  color:lightblue;
}



.each_page{
  text-decoration: none;
}

.nav{
  text-decoration: none;
  background-color: brown;
  color:lightblue;
  padding:6px;
}

.link{
  text-decoration: none;
  color:lightblue;
  border: 1px solid brown;
  padding: 5px;
  background-color: brown;
  margin-right: 10px;
}

#pagination{
  margin-top: 20px;
}

#search a{
  text-decoration: none;
  color:lightyellow;
}

#search a:hover{
  text-decoration: underline;
}

#recipe{
  border-bottom: 1px solid brown;
}

.button{
  background: lightblue;
  color:brown;
}

#textarea{
  margin-top: 20px;
  margin-bottom: 20px;
}

