body{
  background-color: tomato;
  color:lightyellow;
}

#container li{
  color:lightyellow;
  background-color: tomato;
}

#container li:hover{
  color:lightblue;
}

#menu a:hover{
 color:tomato;
}


#each_page{
  text-decoration: none;
}

.nav{
  text-decoration: none;
  background-color: brown;
  color:lightblue;
  padding:6px;
}

.link{
  text-decoration: none;
  color:lightblue;
  border: 1px solid brown;
  padding: 5px;
  background-color: brown;
  margin-right: 10px;
}

#recipe{
  border-bottom: 1px solid brown;
}

.button{
  background: lightblue;
  color:brown;
}

#textarea{
  margin-top: 20px;
  margin-bottom: 20px;
}

